fastapi==0.68.1
uvicorn==0.15.0
numpy==1.21.6
torch==2.1.0
transformers==4.35.0
IndicTransToolkit @ git+https://github.com/VarunGumma/IndicTransToolkit.git
pydantic==1.10.21
indic-nlp-library==0.92
indic_nlp_library_IT2 @ git+https://github.com/VarunGumma/indic_nlp_library.git@342a7e95735e88949528bdca371518cb0ba5bb5d
sacrebleu==2.5.1
sentencepiece==0.2.0
sacremoses==0.1.1
