alabaster==1.0.0
asgiref==3.8.1
babel==2.17.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Cython==3.0.12
docopt==0.6.2
docutils==0.21.2
fastapi==0.68.1
filelock==3.17.0
fsspec==2025.2.0
h11==0.14.0
huggingface-hub==0.28.1
idna==3.10
imagesize==1.4.1
indic-nlp-library==0.92
indic_nlp_library_IT2 @ git+https://github.com/VarunGumma/indic_nlp_library.git
IndicTransToolkit @ git+https://github.com/VarunGumma/IndicTransToolkit.git
torch 
